<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="row">
        <div class="col-8">
            <a class="navbar-brand" href="/">BANK CARD APP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-4">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/one_pred">Prédiction individuelle</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prédiction de groupe</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/csv_pred">À partir de données csv</a>
                            <a class="dropdown-item" href="/db_pred">À partir de la base de données</a>
                         </div>
                    </li> 
                    
                </ul>
            </div>
        </div>
    </div>
    
</nav>

    

  <!-- <li class="nav-item">
    <a class="nav-link" href="/group_pred">Prédiction de groupe</a>
</li> -->